@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600&display=swap');

:root {
    --gapp: 2.84vw;
    --gapp_mini: 4vw;
    --test_main_pc: 1vw;
    --test_nmain_pc: 1.25vw;
    --test_main_pad: 2.34vw;
    --text: #121212;
    --muted: rgba(199, 199, 199, 0);
    --accent: #b40000;
    --card: #E6E6E6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    background: var(--bg);
}

.container {
    width: 90%;
    margin-inline: auto;
    padding: 0;
    margin-bottom: 5.2vw;
}

.Designer_Flex {
    display: flex;
    gap: 2.9vw;
    justify-content: space-between;
}

/* КОНТЕЙНЕР */
.intro-video {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.intro-video.is-vertical {
    aspect-ratio: 9 / 16;
}

/* ОСНОВНОЕ ВИДЕО — БАЗА */
.intro-video__main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* ФОН */
.intro-video__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(30px) brightness(0.7);
    transform: scale(1.25);
    z-index: 1;
}

.intro-video.is-horizontal .intro-video__main {
    object-fit: cover;
}

.intro-video.is-horizontal .intro-video__bg {
    display: none;
}

.intro-video.is-vertical .intro-video__main {
    object-fit: contain;
}

.intro-video.is-vertical .intro-video__bg {
    display: block;
}

.Designer_Flex_Grids1 h1 {
    font-size: 2vw;
    font-weight: 200;
    line-height: 105%;
}

.Designer_Flex_Info {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Designer_Flex_Info h1 {
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 105%;

}

.Designer_Flex_Info p {
    font-size: 1vw;
    font-weight: 200;
    line-height: 105%;
}

.Designer_Flex_GridsB {
    width: 100%;
    display: flex;
    gap: 2.1vw;
    grid-row: 3 / 3;
    justify-content: space-between;
}

.Designer_Flex_GridsB img {
    width: 13.8vw;
    height: auto;
}

.Designer_Flex_Grids1_L div {
    margin-bottom: 1vw;
}

.Designer_Flex_Grids1_L p {
    margin-bottom: 0.5vw;

}

.Designer_Flex_Grids1_R div {
    margin-bottom: 1vw;
}

.Designer_Flex_Grids1_R p {
    margin-bottom: 0.5vw;

}

.Designer_Flex_Img {
    width: 60vw;
    height: 34vw;
    max-height: 80vh;
    object-fit: cover;
}

.Designer_Flex_Grids {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 34vw;
    width: 27.9vw;
}

.Designer_Flex_Grids1 {
    width: 100%;
    display: flex;
    gap: 8.9vw;
}

.Designer_Flex_Grids2 {
    width: 100%;
    display: flex;
    gap: 2.3vw;
    grid-row: 3 / 3;
    justify-content: space-between;
}


.Designer_Flex_Grids2 p {
    font-size: var(--test_main_pc);
    font-weight: 200;
    line-height: 105%;
}

.Designer_Flex_Grids2 h1 {
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 105%;
}

.Designer_Flex_Grids2 img {
    width: 12.5vw;
    height: auto;
    object-fit: cover;
}

.Advertisement_Text {
    margin-top: 0.8vw;
}

.Advertisement_Text p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.72vw;
}

.Designer_Flex_Grids2_L {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    justify-content: flex-end;
}

.Designer_Flex_Grids2_L_Info {
    margin-top: 1vw;
}

.Designer_Flex_Grids2_L_Info div {
    display: flex;
    align-items: center;
    gap: 0.26vw;
    margin-bottom: 0.5vw;
}

.Designer_Flex_Grids2_L_Info p,
.Designer_Flex_Grids2_L_Info a {
    font-size: var(--test_main_pc);
    font-weight: 200;
    line-height: 105%;
    text-decoration: none;
    color: var(--text);
}

.Designer_Flex_Grids2_L_Info img {
    width: 1.2vw;
    height: auto;
}

.Designer_Flex_Grids1 p,
.Designer_Flex_Grids1 a {
    font-size: var(--test_main_pc);
    font-weight: 200;
    line-height: 105%;
    text-decoration: none;
    color: var(--text);
}

.Designer_Flex_Grids1 h2 {
    font-size: var(--test_main_pc);
    font-weight: 400;
    line-height: 105%;
}

.Design_Info {
    margin-top: 3.64vw;
    position: relative;
    display: flex;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 60vw;

}

.Card_Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gapp);
}

.Card_Title_Сontainer {
    font-size: var(--test_nmain_pc);
    font-weight: 200;
    line-height: 105%;
    margin-top: 0;
    width: 59.9vw;
}

.Card_Grid {
    width: 59.9vw;

}

.Card_Grid img {
    width: 100%;
    height: 39vw;
    object-fit: cover;
}

.Card_Grid_Img {
    grid-column: span 2;
    width: 100%;
}

.cards p {
    margin-top: 1.5vw;
    margin-bottom: 1.6vw;
}


/* Контейнер слайдера */
.work_slider {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

/* Область просмотра */
.slider__viewport {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

/* Лента слайдов */
.slider__track {
    display: flex;
    transition: transform .35s ease;
    will-change: transform;
}

/* Отдельный слайд */
.slide {
    flex: 0 0 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 39vw;
    display: block;
    object-fit: cover;
}

/* Стрелки навигации */
.work_slider .nav {
    height: calc(100% - 1.2vw);
    /* height: 42.8vw; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background: rgba(0, 0, 0, .2);
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.work_slider:hover .nav {
    opacity: 1;
    visibility: visible;
}

.work_slider {
    position: relative;
}

.work_slider .nav::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.work_slider .nav.prev {
    left: 0;
}

.work_slider .nav.prev::before {
    transform: rotate(-135deg);
}

.work_slider .nav.next {
    right: 0;
}

.work_slider .nav.next::before {
    transform: rotate(45deg);
}

.slider__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0.5vw;

}

.slider__dots .dot {
    width: 0.6vw;
    height: min-content;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    flex-shrink: 0;
    border: 0;
}

.slider__dots .dot.is_active {

    background: var(--brand);
    aspect-ratio: 1/1;
}

.Design_Plan_Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 2vw;
}

.Design_Plan_Grid img {
    height: auto;
    width: 20.2vw;
}

.Design_Plan_Grid_Left {
    display: flex;
    flex-direction: column;
}

.Design_Plan_Grid p {
    margin: 0;
    font-size: var(--test_main_pc);
    font-weight: 200;
    line-height: 105%;
}

.Design_Plan_Grid h1 {
    margin-top: 0;
    font-size: 1.8vw;
    font-weight: 200;
    line-height: 105%;
    margin-bottom: 1vw;
}

.Design_Plan_Grid {
    margin-bottom: 5vw;
    gap: 2.6vw;
}

.Design_Plan_Grid_Pad {
    display: none;
}

.Designer_Flex_Grids_Pad {
    display: none;
}

.Advertisement_Pad {
    display: none;
}

.Designer_Flex_Grids_Pad_Info {
    display: none;
}

.Designer_Flex_Grids_Pad_Info_Contact {
    display: none;
}

.Designer_Flex_Grids_Pad img {
    display: none;
}

.Designer_Flex_Grids_Title {
    font-size: 2.1vw;
    font-weight: 200;
    line-height: 105%;
}

.Designer_Flex_Grids_PadB {
    display: none;
}

.Design_Plan_Grid_Right {
    /* margin-left: 2.6vw; */
}

.brand_stack {
    position: absolute;
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 28vw;
    right: 0;
    top: 2vw;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.brand_stack.sticky-active {
    position: fixed;
    top: 2.6vw;
    bottom: 2.6vw;
    right: 5%;
    width: 28vw;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.brand_stack.sticky-bottom {
    position: absolute;
    bottom: 5.5vw;
    top: auto;
    right: 0;
    width: 28vw;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.brand_stack.sticky-top {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    width: 28vw;
    transform: none;
}

.brandstack__logo img {
    display: block;
    width: 320px;
    height: auto;
}

.brand_stack__cta {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 15vw;
    background: rgba(145, 145, 145, 1);
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}

.brandstack__cta .cta__text {
    white-space: nowrap;
    font-family: Geologica, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 1.25vw;
    font-weight: 200;
    line-height: 105%;
}

.brandstack__cta .cta__arrow {
    position: absolute;
    right: 0.75vw;
    bottom: 0.65vw;
    width: 2vw;
    height: 2vw;
    object-fit: contain;
    pointer-events: none;
}

.brandstack__cta:hover {
    background: rgba(145, 145, 145, 0.7);
}

.brand_stack__cta .cta__text {
    white-space: nowrap;
    font-family: 'Geologica', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: 200;
    line-height: 105%;
}

.brand_stack__cta .cta__arrow {
    position: absolute;
    right: 0.75vw;
    bottom: 0.65vw;
    width: 2vw;
    height: 2vw;
    object-fit: contain;
    pointer-events: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: calc(100% - 40px);
        margin-inline: auto;
        margin-bottom: 10.4vw;
    }


    .work_slider .nav {
        display: none;
    }

    .Card_Title_Сontainer {
        font-size: var(--test_main_pad);
        width: auto;
    }

    .cards {
        width: 100%;
    }

    .Card_Grid {
        width: 100%;
    }

    .Design_Plan_Grid {
        font-size: 1vw;
    }

    .Design_Plan_Grid h1 {
        font-size: 3vw;
    }

    .Design_Plan_Grid p {
        font-size: var(--test_main_pad);
    }

    .Design_Plan_Grid img {
        height: auto;
        width: 30vw;
    }

    .Design_Plan_Grid_Pad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gapp);
    }

    .Design_Plan_Grid_Pad p {
        margin: 0;
        line-height: 105%;
        font-weight: 200;
        font-size: var(--test_main_pad);
    }

    .Design_Plan_Grid_Pad h1 {
        margin-top: 0;
        line-height: 105%;
        font-weight: 200;
        font-size: 4vw;

    }

    .Design_Plan_Grid_Pad {
        margin-bottom: 10vw;
        margin-top: 7.8vw;
    }

    .Designer_Flex {
        display: block;
    }

    .Designer_Flex_Img {
        width: 100%;
        height: 59vw;
    }

    .Designer_Flex_Grids {
        display: none;
    }

    .Designer_Flex_Grids_Pad {
        margin-top: 4vw;
        display: flex;
        gap: 5.5vw;
    }

    .Designer_Flex_Grids_Pad img {
        display: unset;
        height: 26.3vw;
        width: auto;
    }

    .Designer_Flex_Grids_Pad_Info {
        display: block;
    }

    .Designer_Flex_Grids_Pad_Info_Contact {
        display: block;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts img {
        display: block;
    }

    .Designer_Flex_Grids_Pad_Info h1 {
        font-size: 2.5vw;
        line-height: 105%;
        font-weight: 400;
    }

    .Designer_Flex_Grids_Pad_Info p {
        font-size: 2.4vw;
        font-weight: 200;
        line-height: 105%;
        margin-top: 0.7vw;
        margin-bottom: 2.5vw;
    }

    .Designer_Flex_Grids_Pad_Info_Contact h1 {
        font-size: 2.5vw;
        line-height: 105%;
        font-weight: 400;
    }

    .Designer_Flex_Grids_Pad_Info_Contact p {
        font-size: 2.4vw;
        font-weight: 200;
        line-height: 105%;
        margin-top: 0.7vw;
        margin-bottom: 1.7vw;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts div {
        display: flex;
        align-items: center;
        gap: 1.3vw;
        margin-top: 0.6vw;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts p {
        font-size: 2.4vw;
        font-weight: 200;
        line-height: 105%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts img {
        height: auto;
        width: 3.1vw;
    }

    .Designer_Flex_Grids_Pad_Info {}

    .Advertisement_Pad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5.8vw;
    }

    .Advertisement_Pad p {
        grid-column: 2;
        font-size: 2vw;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        line-height: 105%;

    }

    .Designer_Flex_Grids_Title {
        font-size: 3.2vw;
        font-weight: 200;
        line-height: 105%;
        margin-top: 2.6vw;
    }

    .Designer_Flex_Grids_PadB {
        margin-top: 4vw;
        display: flex;

    }

    .Designer_Flex_Grids_PadB h1 {
        font-size: 3.2vw;
        line-height: 105%;
        font-weight: 200;
    }

    .Designer_Flex_Grids_PadB_ {
        display: flex;
        gap: 2.6vw;
    }

    .Designer_Flex_Grids_PadB_ img {
        width: 21.7vw;
        height: auto;
    }

    .Designer_Flex_Grids_PadB_Info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .Design_Plan_Grid_Right {
        margin-left: 0;
    }

    .brand_stack {
        display: none;
    }

    .slider__dots .dot {
        width: 1.6vw;
    }

    .slider__viewport,
    .Card_Grid img {
        height: 59vw;
    }
}



@media (max-width: 1400px) {
    .brandstack {
        top: 12.15vw;
    }
}

@media (max-width: 767px) {
    .brand_stack {
        display: none;
    }

    .Card_Grid_Img {
        grid-column: 1;
        width: 100%;
    }

    .container {
        padding: 0;
        margin-bottom: 13vw;
        width: 90%;
    }

    .Design_Plan_Grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 2vw;
    }

    .Design_Plan_Grid h1 {
        font-size: 5vw;
    }

    .Design_Plan_Grid_Pad {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .Design_Plan_Grid_Left {
        display: flex;
        margin-bottom: 5.3vw;

    }

    .Design_Plan_Grid_Pad p {
        margin: 0;
        line-height: 105%;
        font-weight: 200;
        font-size: 4.3vw;
    }

    .Design_Plan_Grid_Pad h1 {
        margin-top: 0;
        line-height: 105%;
        font-weight: 200;
        font-size: 6.5vw;
        margin-bottom: 5.3vw;

    }


    .Design_Plan_Grid_Pad {
        margin-top: 8vw;
        display: block;
    }

    .work_slider .nav {
        display: none;
    }

    .Card_Title_Сontainer {
        width: 100%;
        font-size: 4.5vw;
    }

    .Card_Grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--gapp);
        width: auto;

    }

    .cards {
        width: 100%;
    }

    .Design_Plan_Grid_Left img {
        width: 46.1vw;
    }

    .Design_Plan_Grid_Left {
        justify-content: space-between;
    }

    .Designer_Flex_Grids {
        display: none;
    }

    .Designer_Flex {
        display: block;
    }

    .Designer_Flex_Img {
        width: 100%;
        height: 51vw;
    }

    .Designer_Flex_Grids_Pad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2.7vw;
        gap: 8vw;
    }

    .Designer_Flex_Grids_Pad_Info h1 {
        font-size: 4.2vw;
        line-height: 105%;
        font-weight: 400;
        margin-bottom: 0.7vw;
    }

    .Designer_Flex_Grids_Pad_Info p {
        font-size: 4.2vw;
        line-height: 105%;
        font-weight: 200;
        margin-bottom: 2vw;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts div {
        display: flex;
        align-items: center;
        gap: 1.2vw;
        margin-bottom: 2vw;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts {
        font-size: 4.8vw;
        line-height: 105%;
        font-weight: 200;
        margin: 0;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts img {
        height: auto;
        width: 5.6vw;
    }

    .Designer_Flex_Grids_Pad_Info_Contact h1 {
        font-size: 5.3vw;
        line-height: 105%;
        font-weight: 400;
    }

    .Designer_Flex_Grids_Pad_Info_Contact p {
        font-size: 4.8vw;
        line-height: 105%;
        font-weight: 200;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts {
        margin-top: 5.3vw;

    }

    .Advertisement_Pad {
        display: block;
        margin-top: 6vw;
    }

    .Advertisement_Pad p {
        color: rgba(0, 0, 0, 0.5);
        font-size: 4vw;
        line-height: 105%;
        font-weight: 400;
    }

    .Design_Info {
        margin-top: 10.6vw;
    }

    .Designer_Flex_Grids_Pad_Info {
        display: block;
    }

    .Designer_Flex_Grids_Pad_Info_Contact {
        display: block;
    }

    .Designer_Flex_Grids_Pad_Info_Contacts img {
        display: block;
    }

    .Designer_Flex_Grids_Pad img {
        display: unset;
    }

    .Designer_Flex_Grids_Title {
        font-size: 5.3vw;
        font-weight: 200;
        line-height: 105%;
        margin-top: 2.6vw;
    }

    .Designer_Flex_Grids_PadB {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .Designer_Flex_Grids_PadB h1 {
        margin-top: 2.5vw;
        font-size: 5.3vw;
        font-weight: 200;
        line-height: 105%;
    }

    .Designer_Flex_Grids_PadB h1 br {
        display: none;
    }

    .Designer_Flex_Grids_PadB_ {
        display: flex;
        margin-top: 4vw;
    }

    .Designer_Flex_Grids_PadB_ p {
        font-size: 4.2vw;
    }

    .Designer_Flex_Grids_PadB_ img {
        width: 40vw;
        height: auto;
    }

    .Designer_Flex_Grids_PadB_Info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .Design_Plan_Grid p {
        font-size: 4vw;
    }

    .Design_Plan_Grid_Right {
        margin-left: 0;
    }

    .slider__dots .dot {
        margin-top: 2.8vw;
    }

}

.contacts {
    padding: 3.1vw 0 5.3vw;
    width: 59.9vw;
    max-width: 100%;
    box-sizing: border-box;
}

.contactss {
    padding: 0.1vw 0 4vw;
    width: 59.9vw;
    max-width: 100%;
    box-sizing: border-box;
}

.contacts__list {
    list-style: none;
    background: #F6F6F6;
    margin: 0;
    padding: 0.5vw;
    display: grid;
    gap: 0.8vw;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    box-sizing: border-box;
}

.contact__item {
    display: flex;
    align-items: flex-start;
    gap: 0.8vw;
    padding: 0.9vw;
    background: #E6E6E6;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.contact__icon {
    width: 2vw;
    height: 2vw;
    flex-shrink: 0;
    display: block;
}

.contact__info {
    display: flex;
    align-items: center;
    gap: 0.55vw;

}

.contact__row {
    display: flex;
    flex: 1;
    gap: 1vw;
    align-items: center;
    width: 100%;
    min-width: 0;
}

.contact__label {
    font-weight: 200;
    font-size: 1vw;
    color: black;
    white-space: nowrap;
    min-width: 5vw;
    line-height: 105%;
}

.contact__data {
    font-size: 0.9vw;
    line-height: 105%;
    ;
    color: var(--text);
    font-weight: 200;
    letter-spacing: -0.03em;
    display: flex;
    gap: 0.2vw;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.contact__data a {
    color: inherit;
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
}

.contact__data a:hover {
    text-decoration: underline;
}

.contacts__map {
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-content: center;
    background: #F6F6F6;
    box-sizing: border-box;
}

.contacts__map p {
    margin-bottom: 0;
    margin-top: 1.7vw;
    color: #00000066;
    font-size: 0.8vw;
    font-weight: 200;
    line-height: 105%;
}

.contacts__map img {
    width: 9.11vw;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.contact__item:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.contact__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.contact__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.contact__item:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.contact__item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.contact__item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contacts {
        padding: 5.2vw 0 10.4vw;
        width: 100%;

    }

    .contacts__list {
        grid-template-columns: 30% 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 0.8vw;
        padding: 0.8vw;
        width: 100%;
        box-sizing: border-box;
        ;
    }

    .contact__item {
        padding: 1vw;
        gap: 1vw;
        align-items: center;
    }

    .contact__icon {
        width: 2vw;
        height: 2vw;
        flex-shrink: 0;
        display: block;
    }

    .contact__row {
        gap: 0.8vw;

    }

    .contact__info {
        gap: 0.8vw;
    }

    .contact__label {
        font-size: 2.3vw;
        min-width: 8vw;

    }

    .contact__data {
        font-size: 1.8vw;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contact__data a {
        font-size: 1.8vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contacts__map {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .contacts__map img {
        width: 22.7vw;
        height: auto;
    }

    .contacts__map p {

        margin-top: 4.8vw;
        font-size: 1.8vw;

    }
}

@media (max-width: 767px) {

    .Design_Info {
        margin-top: 5.6vw;
    }

    .contacts {
        padding: 8.3vw 0 16.5vw;
        width: 100%;
    }

    .contacts__list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2.8vw;
        padding: 2vw;
    }

    .contacts__map {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

    }

    .contacts__map p {
        font-size: 2.8vw;
    }

    .contacts__map img {
        width: 50vw;
        max-width: 100%;
    }

    .contact__item {
        grid-column: 1 / 2 !important;
        grid-row: auto !important;
        padding: 3vw;
    }

    .contact__icon {
        width: 7vw;
        height: 6.8vw;
    }

    .contact__info {
        gap: 2.8vw;
        width: 45%;

    }

    .contact__row {
        flex-direction: row;
        gap: 2.8vw;

    }

    .contact__label {
        font-weight: 200;
        min-width: auto;
        font-size: 5vw;
    }

    .contact__data {
        font-size: 3.8vw;
        display: flex;
        white-space: normal;
        flex-direction: column;
        gap: 1vw;
    }

    .slider__viewport,
    .Card_Grid img {
        height: 124vw;
    }
}

@media (max-width: 460px) {
    .Designer_Flex_Img {
        height: 55vw;
    }
}


/* УВЕЛИЧЕННЫЙ ПРОСМОТР ПЛАНА */
.interior-lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    justify-content: center;
    align-items: center;
}

.interior-lightbox .lightbox-overlay {
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.interior-lightbox .lightbox-content {
    position: relative;
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior-lightbox .lightbox-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.interior-lightbox .lightbox-close {
    position: fixed;
    top: 20px;
    right: 25px;
    font-size: 3rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 100000;
}